* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(33, 34, 34, 1) 0%,
    rgba(0, 56, 98, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-name {
  position: relative;
  color: #17408b;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__logo-name::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: white;
  -webkit-text-stroke: 3px white;
}

.header__logo-name span {
  color: #c9082a;
}

.header__logo-image {
  height: 80px;
  width: 150px;
}

.header__menu-icon {
  display: none;
}

.header__menu-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__routes ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__routes li {
  list-style: none;
}

.header__routes a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right: 30px;
  padding: 5px 10px;
}

.header__routes a:hover {
  color: #1e5ccf;
  background-color: rgba(30, 92, 207, 0.1);
  border-radius: 5px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/back.svg') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 80px;
  filter: blur(0.5px);
  z-index: -1;
}

.main__image {
  width: 100%;
  height: 100%;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
}

.list-teams {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.list-teams:hover {
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.15);
}

.list-teams a {
  text-decoration: none;
  color: #0066cc;
}

.list-teams a:hover {
  color: #043261;
}

.list-teams__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list-teams__team {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, background 0.3s ease;
}

.list-teams__team:hover {
  background: #e6f0ff;
  transform: scale(1.02);
}

.list-teams__team-image {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.list-teams__team-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.5s ease;
}

.list-teams__team:hover .list-teams__team-image {
  transform: scale(1.2);
}

.list-players {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.list-players:hover {
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.15);
}

.list-players a {
  text-decoration: none;
  color: #0066cc;
}

.list-players a:hover {
  color: #043261;
}

.list-players__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list-players__player {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, background 0.3s ease;
}

.list-players__player:hover {
  background: #e6f0ff;
  transform: scale(1.02);
}

.list-players__team-image img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.list-players__team-image img:hover {
  transform: translateY(-10px);
}

.list-players__player-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.5s ease;
}

.list-players__player:hover .list-players__team-image {
  transform: scale(1.2);
}

.list-players__player-image {
  width: 200px;
  height: 150px;
}

/* Responsivos */

@media (max-width: 768px) {
  .header {
    height: auto;
  }

  .header__logo {
    align-items: center;
  }

  .header__logo-name {
    font-size: 28px;
  }

  .header__routes ul {
    flex-direction: column;
    margin-top: 15px;
  }

  .header__routes li {
    margin-bottom: 15px;
  }

  .list-teams {
    width: 90%;
    padding: 20px;
  }

  .list-teams__team {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .list-teams__team-image {
    margin-bottom: 10px;
  }
}
